.sidemenu-icon {
		    display: inline-block;
		    cursor: pointer;
		    z-index: 3;
		    position: absolute;
    		top: 10px;
    		left: 10px;
		}

		.bar1, .bar2, .bar3 {
		    width: 30px;
		    height: 4px;
		    background-color: #000;
		    margin: 6px 0;
		    transition: 0.4s;
		    border-radius: 10px;
		}

		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
		    transform: rotate(-45deg) translate(-9px, 6px);
		    background-color: #fff;
		}

		.change .bar2 {opacity: 0;}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-8px, -8px);
		    transform: rotate(45deg) translate(-8px, -5px);
		    background-color: #fff;
		}
		/* sidemenu icon animation ends */

		/* sidenav starts */
		.sidenav {
		    height: 100%;
		    width: 0;
		    position: fixed;
		    z-index: 2;
		    top: 0;
		    left: 0;
		    background-color: #606060;
		    overflow-x: hidden;
		    transition: 0.5s;
		    padding-top: 40px;
		    text-align:center;
		    box-shadow: 1px 1px 10px #484848;
		}

		.sidenav.width-toggle{width: 100%;}

		.sidenav a {
		    padding: 8px 8px 8px 32px;
		    text-decoration: none;
		    font-size: 25px;
		    color: #fff;
		    display: block;
		    transition: 0.3s;
		    border-bottom: 1px solid #585858;
		}

		.sidenav a:hover{
		    color: #fff;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}